body
{
  background: url(FrontPic8.png) no-repeat center ;
  background-color: black;
  background-size: auto;
  background-position-y: 0;
}

.pic1
{
  width: 100px
}

.upper
{
  padding-left: 2%
}

/* Made by Vaibhav Isloor */
.UserPic
{
  border-radius: 5px;
  width: 30px;
}

.downarrow:hover
{
  transform: rotate(180);
}

.MainPic
{
  /* position: absolute; */
  z-index: -1;
  width: 1850px;
}

.MovieName
{
  width: 600px;
  position: absolute;
  top:180px;
  left:50px;
}

.buttn1
{
  position: absolute;
  top: 420px;
  left: 220px;
}

.buttn2
{
  position: absolute;
  top: 420px;
  left: 330px;
}

.row1
{
  position: absolute;
  top: 550px;
text-align: center;
font-size: 7rem;
}

.zoom
{
  transition: transform .4s ease; /* Animation */
}

.zoom:hover
{
border-radius: 10px;
transform: scale(1.1);
}

.item
{
  border-radius: 10px;
}

.r-text
{
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight:bold;
  position: absolute;
  left: 60px;
}

.fir
{
  top: 570px;
}

.sec
{
  top: 860px;
}

.thi
{
  top: 1150px;
}

.row2
{
position: absolute;
top: 640px;
text-align: center;
font-size: 7rem;
}

.row3
{
  position: absolute;
  top: 730px;
  text-align: center;
  font-size: 7rem;
}

.row4
{
  position: absolute;
  top: 820px;
  text-align: center;
  font-size: 7rem;
}

.fou
{
  top: 1440px;
}

.row5
{
  position: absolute;
  top: 910px;
  text-align: center;
  font-size: 7rem;
}

.fif
{
  top: 1730px;
}

#footer
{
  text-align: center;
  font-size: 1rem;
  padding:3%;
  margin-top: 1000px;
}


.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.video-overlay.active {
  display: flex;
}

.video-container {
  position: relative;
  width: 80%;
  height: 80%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}


button.close-button{
  position: absolute;
  top: -40px;
  right: 10px;
  width: 50px;
  background: linear-gradient(to right,#ffffff ,#ffffff);
  background-color: #ffffff;
  color: #000000;
  font-family: Trebuchet MS;
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 5px 9px;
  border: 1px solid #000;
  border-radius: 22px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px #2D2D2D;
 }
 button.close-button:hover{
  background: linear-gradient(to right,#ffffff ,#ffffff);
  background-color: #ffffff;
 }
 button.close-button:active{
  transform: scale(0.95);
 }

 /* Made by Vaibhav Isloor */


